.auth-page {
  min-height: 100vh;
  background: #f7f8fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 360px;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 18px rgba(0,0,0,0.08);
}

.auth-card h2 {
  margin-bottom: 6px;
}

.sub-text {
  font-size: 14px;
  color: #555;
  margin-bottom: 18px;
}

.auth-card label {
  font-size: 13px;
  font-weight: 500;
  margin-top: 10px;
  display: block;
}

.auth-card input {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.auth-card button {
  width: 100%;
  margin-top: 18px;
  background: #ffd814;
  border: none;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

.auth-card button:hover {
  background: #f7ca00;
}

.outline-btn {
  display: block;
  text-align: center;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 6px;
  text-decoration: none;
  color: #000;
  margin-top: 10px;
}

.secure-text,
.terms,
.benefits,
.login-link {
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
  color: #666;
}
