.auth-container {
  max-width: 380px;
  margin: 40px auto;
  padding: 25px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.auth-container h2 {
  margin-bottom: 8px;
  font-size: 22px;
}

.sub-text {
  font-size: 14px;
  color: #555;
  margin-bottom: 18px;
}

.mobile-box {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.mobile-box span {
  padding: 12px;
  background: #f5f5f5;
  font-weight: 600;
}

.mobile-box input {
  border: none;
  outline: none;
  padding: 12px;
  flex: 1;
}

button {
  width: 100%;
  padding: 13px;
  background: #1976ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.terms {
  margin-top: 15px;
  font-size: 12px;
  color: #777;
  text-align: center;
}

.otp-show {
  background: #f0f7ff;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 15px;
  color: #1976ff;
  font-weight: 600;
}

.otp-input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 6px;
}
