.pd-container {
  padding: 15px;
}

.pd-image-box img {
  width: 100%;
  border-radius: 10px;
}

.pd-info h1 {
  font-size: 20px;
  margin-top: 10px;
}

.pd-price {
  font-size: 22px;
  color: #0a7cff;
  margin: 8px 0;
}

.pd-compatible {
  margin-top: 10px;
}

.pd-buttons button,
.wa-btn {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

.buy-btn {
  background: orange;
  color: white;
}

.cart-btn {
  background: #1e88e5;
  color: white;
}

.wa-btn {
  background: #25d366;
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
}

.pd-desc {
  margin-top: 25px;
}

.pd-related {
  margin-top: 30px;
}

.pd-related-card {
  display: flex;
  gap: 12px;
  margin-bottom: 15px;
  cursor: pointer;
}

.pd-related-card img {
  width: 80px;
  border-radius: 6px;
}

.rp-name {
  font-weight: 500;
}

.rp-price {
  color: #0a7cff;
}
