.product-details-page {
  padding: 15px;
}

.product-box {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
}

.pd-title {
  font-size: 20px;
  font-weight: 600;
}

.pd-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
}

.triple span {
  width: 33%;
}

.center {
  text-align: center;
  font-weight: 600;
}

.double {
  align-items: center;
}

.stock-in {
  color: green;
  font-weight: 600;
}

.stock-out {
  color: red;
  font-weight: 600;
}

.pd-price {
  font-size: 20px;
  margin: 12px 0;
  font-weight: bold;
}

.pd-buttons {
  display: flex;
  gap: 10px;
}

.whatsapp {
  flex: 1;
  background: #25d366;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
}

.cart {
  flex: 1;
  background: #f1f1f1;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 6px;
}

.buy-now {
  width: 100%;
  margin-top: 10px;
  background: #1677ff;
  color: white;
  border: none;
  padding: 13px;
  border-radius: 6px;
}

.tabs {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.tabs button {
  padding: 8px 14px;
  border: 1px solid #ddd;
  background: #f7f7f7;
  border-radius: 20px;
}

.tabs .active {
  background: #1677ff;
  color: white;
}

.tab-content {
  margin-top: 10px;
  font-size: 14px;
}

.related-section {
  margin-top: 25px;
}

.related-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.related-card {
  display: flex;
  gap: 10px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 8px;
  cursor: pointer;
}

.related-card img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
}

.rp-name {
  font-size: 14px;
  font-weight: 500;
}

.rp-price {
  color: #1677ff;
  font-weight: bold;
}
