.product-page {
  padding: 14px;
}

.product-image-box img {
  width: 100%;
  border-radius: 12px;
  object-fit: contain;
}

.product-info h1 {
  font-size: 20px;
  margin-top: 12px;
}

.price {
  font-size: 22px;
  font-weight: bold;
  margin: 8px 0;
}

.meta p {
  font-size: 14px;
  margin: 3px 0;
}

.box {
  background: #f9f9f9;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

.btn {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  margin-top: 10px;
  font-size: 16px;
}

.buy {
  background: #ff9800;
  color: white;
}

.cart {
  background: #1976d2;
  color: white;
}

.whatsapp {
  background: #25d366;
  color: white;
}

.related-section {
  margin-top: 25px;
}

.related-item {
  display: flex;
  gap: 10px;
  margin-top: 12px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.related-item img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.r-name {
  font-weight: 600;
  font-size: 14px;
}

.r-price {
  font-size: 14px;
}
