.product-details-page {
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  background: #f6f8fb;
  padding-bottom: 90px;
}

.product-details-container {
  max-width: 900px;
  margin: auto;
  padding: 14px;
}

.product-main-image {
  width: 100%;
  max-height: 350px;
  object-fit: contain;
  background: #fff;
  border-radius: 12px;
  padding: 10px;
}

.product-title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 12px;
}

.product-row {
  font-size: 14px;
  color: #444;
  margin-top: 4px;
}

.product-category {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  color: #2563eb;
  margin: 6px 0;
}

.stock-in {
  color: green;
  font-weight: 600;
  margin-top: 6px;
}

.stock-out {
  color: red;
  font-weight: 600;
  margin-top: 6px;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  color: #2563eb;
}

.product-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 14px;
}

.buy-now-btn {
  background: #22c55e;
  color: #fff;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
}

.add-cart-btn {
  background: #2563eb;
  color: white;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
}

.whatsapp-btn {
  background: #25d366;
  color: white;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
}

.product-description {
  margin-top: 22px;
  background: #fff;
  padding: 14px;
  border-radius: 10px;
  font-size: 14px;
}

.more-products {
  margin-top: 30px;
}

.related-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.related-card {
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.related-card img {
  width: 100%;
  height: 120px;
  object-fit: contain;
}

.related-name {
  font-size: 13px;
  margin-top: 6px;
}

.related-price {
  font-weight: 600;
  color: #2563eb;
}
