.product-details-page {
  padding: 15px;
}

.product-main {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.product-image {
  width: 45%;
  border-radius: 10px;
}

.product-info {
  width: 55%;
}

.product-info h2 {
  margin-bottom: 6px;
}

.product-info p {
  margin: 4px 0;
}

.add-cart-btn {
  margin-top: 10px;
  background: #1976ff;
  color: white;
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 100%;
}

.related-title {
  margin: 10px 0;
}

.related-scroll {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
