.global-loader {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(2px);
  z-index: 99999;

  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-box {
  text-align: center;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 4px solid #ddd;
  border-top: 4px solid #1677ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
}

.loader-box p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #444;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
