.header {
  height: 55px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
  border-bottom: 1px solid #ddd;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-left h2 {
  font-size: 18px;
  cursor: pointer;
}

.header-left span {
  color: #0d6efd;
}

.header-right {
  display: flex;
  gap: 15px;
}
