.home-slider {
  width: 100%;
  height: 180px;
  margin: 12px 0;
  border-radius: 12px;
  overflow: hidden;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.8s ease-in-out;
}
