.product-card {
  background: white;
  border-radius: 14px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}

.product-card img {
  width: 100%;
  height: 140px;
  object-fit: contain;
  margin-bottom: 6px;
}

.product-card h4 {
  font-size: 13px;
  height: 36px;
  overflow: hidden;
}

.product-card .price {
  font-weight: bold;
  margin: 6px 0;
}

.product-card button {
  width: 100%;
  background: #0b57ff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
}
.brand-part-row {
  display: flex;
  width: 100%;
  margin: 6px 0;
  font-size: 13px;
}

.brand-text {
  font-weight: 600;
  color: #0b5ed7;
}

..part-box {
  margin-left: 15px;
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;
}

.part-text {
  font-weight: 600;
  font-size: 13px;
  color: #333;
}

.stock {
  font-size: 12px;
  font-weight: 600;
}

.in-stock {
  color: #198754; /* green */
}

.out-stock {
  color: #dc3545; /* red */
}
