/* ===== MODAL ===== */

.modal-bg {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-card {
  background: #fff;
  width: 95%;
  max-width: 650px;
  border-radius: 14px;
  padding: 20px;
}

.modal-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-head button {
  border: none;
  background: none;
  font-size: 20px;
}

.info-grid {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 14px;
}

.info-grid label {
  font-size: 12px;
  color: #777;
}

.info-grid p {
  font-weight: 600;
}

.info-grid .full {
  grid-column: span 2;
}

.status-box {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 14px;
  margin-top: 18px;
}

.status {
  height: 42px;
  border-radius: 8px;
  padding: 0 10px;
  font-weight: 600;
}

.status.pending { background:#fff3cd; }
.status.paid { background:#dcfce7; color:#166534; }

.status.new { background:#e0f2fe; }
.status.packed { background:#ede9fe; }
.status.shipped { background:#fef3c7; }
.status.completed { background:#dcfce7; }
.status.cancelled { background:#fee2e2; }

.modal-footer {
  margin-top: 22px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modal-footer .gray {
  background:#e5e7eb;
  border:none;
  padding:10px 18px;
  border-radius:8px;
}

.modal-footer .blue {
  background:#2563eb;
  color:white;
  border:none;
  padding:10px 18px;
  border-radius:8px;
}
